
.navbar-brand {
	font-size: 30px;
	padding-left: 150px;
}

body {
	font-family: 'Lato', sans-serif;
	font-color: white;
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

.grey {
	width: 1000px;
}

.navbar-right {
	padding-right: 150px;
	font-size: 20px;
}

.navbar { 
	border-bottom: 1px solid #C9C9C9;
	background-color: white;
}


